.nav-link{
    color:black;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: black;
}
.dropdown-toggle::after {
    content: none;
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: 0;
}
.featurette-heading {
    margin-top: 3rem;
    letter-spacing: -.05rem;
    line-height: 1; 
    font-weight: 400; 
    
}